<div class="content-wrapper">
    <div class="sidebar">
        <ul>
            <li *ngFor="let menus of menu; index as i" (click)="indexVal=menus.index;clicked(menus, i);" class="activeItem">{{menus.name}}</li>
        </ul>
    </div>
    <div class="main-content">
        <div [ngSwitch]="indexVal">
            <div *ngSwitchCase="1"> <h2>Home tab</h2> </div>
            <div *ngSwitchCase="2"> <app-first></app-first> </div>
            <div *ngSwitchCase="3"> <app-pipe></app-pipe> </div>
            <div *ngSwitchCase="4"> <app-com-communication></app-com-communication> </div>
            <div *ngSwitchCase="5"><app-form-example></app-form-example></div>
            <div *ngSwitchDefault=""> <h2>The Example of switch Case...</h2> </div>
        </div>
    </div>
</div>